@import url(general/design.css);

body{
	height:100%;
	width: 100%;
	position:absolute;
}

#menu {	
	display:flex;
}

#menu a {
	height: 100px;
	flex-grow:1;
	font-family: barmeno;
	
	text-decoration:none;
	background: #000000;
	color: white;
	text-align: center;
	line-height:100px;
	font-weight:600;
}

#menu a:hover {
	background:#634271;
}

#menu img{
	height: 100%;	
}

#menu a:hover:nth-child(1){
	background:#000000;
}

#menu a:nth-child(2){
	flex-grow:4;
	pointer-events: none;
    cursor: default;
}

div > h3 {
	font-family: barmeno;
	background: #FFFFFF;
	color: #000000;
	padding: 10px 2px;
	text-transform: uppercase;	
	font-size: 85%;
}

#list {
	font-family:  barmeno;
	line-height: 150%;
	margin-top:10px;
	padding:10px;
	width:19%;
	background: #000000;
	color:white;
}

#list a{	
	text-decoration:none;
	margin-bottom: 0px;
	color:white;
}

#list a:hover{
	background: #634271;
}


#frame{
width:77%;
height:100%;
border:0;
margin-top:10px;
}

#centre{
	display:flex;
	height:100%;
}

footer{
	width:100%;
	position:relative;
	bottom:0;
	display:flex;
	justify-content:space-around;
	text-decoration:none;
  	margin-top: 45px;
  	height: 45px;
  	clear:both;
}

footer a{
	font-family: barmeno;
	color:white;
	text-decoration:underline;
}

footer a:hover {
	background-color: #634271;
}

footer div{
	width:100%;
	text-align:center;
	padding-top:10px;
	padding-bottom:20px;
	background:#000000;
	color:white;
	font-family: barmeno;
}

