@import url(general/design.css);

body{
	height:100%;
	width: 100%;
	position:absolute;
}

#menu {	
	display:flex;
}

#menu a {
	height: 100px;
	flex-grow:1;
	font-family: barmeno;
	
	text-decoration:none;
	background: #000000;
	color: white;
	text-align: center;
	line-height:100px;
	font-weight:600;
}

#menu a:hover {
	background:#634271;
}

#menu img{
	height: 100%;	
}

#menu a:hover:nth-child(1){
	background:#000000;
}

#menu a:nth-child(2){
	flex-grow:4;
	pointer-events: none;
    cursor: default;
}



