@import url(design.css);

body{
	font-family: sans-serif;
}

#phone{
	font-family:barmeno;
}

a:hover{
	background-color: #634271;
}

#contactInfo{
	float:left;
	display:inline;
	margin-right:25px;
	margin-bottom:25px;
}

#contactLogo{
	float:left;
	display:inline;
}
