#mainMenu {
	background-color:black;
	height:5%;
	display:flex;
}

#mainMenuCompanyLogo{
	float:left;
	width:140px;
	height:80px;
}

#mainMenuCompanyName {
	float:left;
	color:white;
	font: bold 16px Arial;
	vertical-align:center;
}

.mainMenuButton {
	color:white;
	height:100%;
	width:100%;
	display:inline-block;
	text-decoration: none;
	font: bold 14px Arial;
}

.mainMenuButton:hover{
	background-color:red;
	color:black;
}

.menuItem {
	flex-grow:1;
}

.menuItem:nth-child(1){
	white-space:nowrap;
}

.menuItem:nth-child(2){
	flex-grow:3;
}
