body{
	height:100%;
	position:absolute;
}

#menu {display:flex;}

#menu a {
	height: 100px;
	flex-grow:1;
	
	text-decoration:none;
	background: #2B2B2B;
	color: white;
	text-align: center;
	line-height:100px;
	font-weight:600;
}

#menu a:hover {
	background:white;
	color:#2B2B2B;	
}

#menu img{
	height: 100%;
}

#menu a:hover:nth-child(1){
	background:#2B2B2B;
}

#menu a:nth-child(2){
	flex-grow:4;
	pointer-events: none;
    cursor: default;
}

#list {
	float:left;
	margin-top:10px;
	padding-left:10px;
	padding-bottom:10px;
	width:18%;
	background: #FF8F00;
	color:white;
}

#list a{
	text-decoration:none;
	color:white;
}

#list a:hover{
	background: #3C7DC4;
}


#frame{
float:right;
width:78%;
height:70%;
border:0;
}

footer{
	float:right;	
	bottom:0px;
	
}
