@import url(design.css);

@font-face {
	font-family: pecita;
	src: url(Pecita.otf);	
}

img {
	display: block;
	float: left;
	max-width: 300px;
	margin-right: 40px;
}

div {
	display: block;
	float: left;
}

#signature{
	width:100%;
	font-family:pecita;
	text-align: right;
	font-size:25px;
}
