@font-face {
	font-family: barmeno;
	src: url(../../fonts/barmeno_regular.otf);	
}

body {
	color: #FFFFFF;
	font-family: sans-serif;
}
div.head {
	margin-left: 40px;
	margin-top: -8px;
}
div.linkSections {
	background-color: #000000;
	font-family: barmeno;
	padding: 10px;
	line-height: 130%;
}

div > a {
	text-decoration: none;
	color: #FFFFFF;
	
}

div > a:hover {
	background-color: #634271;
}

figure {
	display: block;
	z-index: -1;	
}
figure > img {
	max-width: 300px;
	float: left;
	margin-right: 15px;
}

footer {
	z-index: 2
	position: absolute;
	top: 100px;
}


div > header {
	display:block;
	clear: left;
	margin-left: 40px;
	margin-top: 40px;
	font-family: sans-serif
}

div > footer {
	display: block;
	clear: left;
	margin-left: 40px;
	
}



footer > h5 {
	margin-left: 315px;
	position:relative;
	top: -50px;
	
}

h5 {
	font-family: barmeno;
	font-weight: bold;
	font-size: 130%;
	margin-top: -70px;
	color: #634271;
	background-color: #FFFFFF;
	width: 80px;
	text-align: center;
	
}

h4 {
	text-transform: uppercase;
	font-family: sans-serif;

}

figcaption {
	display: block;
	width: 300px;
	margin-bottom: 10px;
	background-color:#000000;
	font-family: barmeno;
}
.hautBas {
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	float: right;
	margin-right: 40px;
	font-size: 80%;	
}

.hautBas:hover {
	background-color: #634271;
}
