@font-face {
	font-family: barmeno;
	src: url(barmeno_regular.otf);	
}

body {
	color: #FFFFFF;
	font-family: sans-serif;
}
div > img {
	max-width: 300px;
	float: left;
	margin-right: 15px;
	margin-bottom: 20px;
	min-height: 200px;	
}

div.citiesList {
	font-family: barmeno;
	color: #FFFFFF;
	margin-top: 40px;
}

div.inclusions {	
	clear: left;
	min-height: 200px;
}

header {
	margin-top: -15px;
	margin-bottom: -15px;	
}

div.duration {
	margin-bottom: 20px;
	
}

h6 {	
	text-transform: uppercase;
	font-size: 120%;
	margin-top: 30px;
	margin-bottom: -15px;
}

footer {
	margin-left: 315px;
	margin-top: -275px;	
}

.price {
	color: #634271;
	background-color: white;
	font-weight: bold;
	font-size: 175%;	
	width: 90px;
	display: inline;
		
}

span.taxes {
	color: #FFFFFF;
	font-weight: normal;
	font-size: 90%;	
}


